Flask==2.3.3               
flask-cors==3.0.10         
pymongo==3.11.0             
dnspython==1.16.0           
requests==2.31.0           
python-dotenv==1.1.1
solana==0.28.0
construct==2.10.67
pyjwt
boto3
web3modal 
ethers 
@solana/web3.js 
@solana/wallet-adapter-base 
@solana/wallet-adapter-react 
@solana/wallet-adapter-wallets
@solana/wallet-adapter-react-ui
base58
pynacl
crypto-browserify 
stream-browserify 
buffer 
process 
vm-browserify 
util 
os-browserify
@craco/craco
path-browserify 
assert
url
browserify-zlib
constants-browserify
querystring-es3
fpdf2